<div class="container-fluid" id="add-new-flight-container" >
           <div class="row"> 
                <div class="col-3">
                    <div [routerLink]="['/main-menu']" class="btn-info" 
                    id="back-icon">Back</div>
                </div>
                <div class="col-8 offset-1" id="add-flight-title">
                    <p>Add Flight</p>
                </div>
            </div>
            <div id="page-breaker-line"></div>
            <form #f="ngForm">
            <div class="row">
                <div class="col-12" id="date-selector">
                    <ng2-datepicker [options]="options" name="date" 
                    [(ngModel)]="flight.date"></ng2-datepicker>
                </div>
            </div>
            <div class="row">
                <div class="col-12" id="flight-title-container">
                    <p>Flight</p>
                </div>
            </div>
            <div class="row" id="first-flight-row">
                <div class="col-3 add-flight-list">
                    <p>Flight Symbol</p>
                </div>
                <div class="col-1 first-row-item"> 
                    <div class="dropdown" id="elFlight" #elFlight>
                        <div class="btn add-flight-selectors" type="button" id="flightDropdownOne"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <p>{{f.value.flightSymbolOne}}</p>
                        </div>
                        <ul class="dropdown-menu" aria-labelledby="flightDropdownOne">
                            <div *ngFor="let flightSymbol of flightSymbolsOne">
                                <label>
                                <input type="radio" name="flightSymbolOne" [(ngModel)]="flight.flightSymbolOne"
                                [value]="flightSymbol.value" (click)="onDropdownSelect($event)" class="radioSel">
                                    {{flightSymbol.value}}
                                </label>
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="col-1 next-row-item"> 
                    <div class="dropdown" id="elFlight" #elFlight>
                        <div class="btn add-flight-selectors" type="button" id="flightDropdownTwo"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <p>{{f.value.flightSymbolTwo}}</p>
                        </div>
                        <ul class="dropdown-menu" aria-labelledby="flightDropdownTwo">
                            <div *ngFor="let flightSymbol of flightSymbolsTwo">
                                <label>
                                <input type="radio" name="flightSymbolTwo" [(ngModel)]="flight.flightSymbolTwo"
                                [value]="flightSymbol.value" (click)="onDropdownSelect($event)" class="radioSel">
                                    {{flightSymbol.value}}
                                </label>
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="col-1 next-row-item"> 
                    <div class="dropdown" id="elFlight" #elFlight>
                        <div class="btn add-flight-selectors" type="button" id="flightDropdownThree"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <p>{{f.value.flightSymbolThree}}</p>
                        </div>
                        <ul class="dropdown-menu" aria-labelledby="flightDropdownThree">
                            <div *ngFor="let flightSymbol of flightSymbolsThree">
                                <label>
                                <input type="radio" name="flightSymbolThree" [(ngModel)]="flight.flightSymbolThree"
                                [value]="flightSymbol.value" (click)="onDropdownSelect($event)" class="radioSel">
                                    {{flightSymbol.value}}
                                </label>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
           <div class="row flight-list-row">
                <div class="col-3 add-flight-list">
                    <p>Duty Symbol</p>
                </div>
                <div class="col-1 first-row-item">
                    <div class="dropdown" #elDuty id="elDuty">
                        <div class="btn add-flight-selectors" type="button" id="dutyDropdownOne"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <p>{{f.value.dutySymbolOne}}</p>
                        </div>
                        <ul class="dropdown-menu" aria-labelledby="dutyDropdownOne">
                            <div *ngFor="let dutySymbol of dutySymbolsOne">
                                <label>
                                <input type="radio" name="dutySymbolOne" [(ngModel)]="flight.dutySymbolOne"
                                [value]="dutySymbol.value" (click)="onDropdownSelect($event)">
                                    {{dutySymbol.value}}
                                </label>
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="col-1 next-row-item">
                    <div class="dropdown" #elDutyTwo id="elDutyTwo">
                        <div class="btn add-flight-selectors" type="button" id="dutyDropdownTwo"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <p>{{f.value.dutySymbolTwo}}</p>
                        </div>
                        <ul class="dropdown-menu" aria-labelledby="dutyDropdownTwo">
                            <div *ngFor="let dutySymbol of dutySymbolsTwo">
                                <label>
                                <input type="radio" name="dutySymbolTwo" [(ngModel)]="flight.dutySymbolTwo"
                                [value]="dutySymbol.value" (click)="onDropdownSelect($event)">
                                    {{dutySymbol.value}}
                                </label>
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="col-1 next-row-item">
                    <div class="dropdown" #elDutyThree id="elDutyThree">
                        <div class="btn add-flight-selectors" type="button" id="dutyDropdownThree"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <p>{{f.value.dutySymbolThree}}</p>
                        </div>
                        <ul class="dropdown-menu" aria-labelledby="dutyDropdownThree">
                            <div *ngFor="let dutySymbol of dutySymbolsThree">
                                <label>
                                <input type="radio" name="dutySymbolThree" [(ngModel)]="flight.dutySymbolThree"
                                [value]="dutySymbol.value" (click)="onDropdownSelect($event)">
                                    {{dutySymbol.value}}
                                </label>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row flight-list-row">
                <div class="col-3 add-flight-list">
                    <p>Flight Hours</p>
                </div>
                <div class="col-1 first-row-item">
                    <div class="input-group add-flight-selectors">
                        <input type="number" id="hours-inputOne" class="hours-input-box" placeholder="0.0" 
                        aria-describedby="sizing-addon1" name="hoursOne" [(ngModel)]="flight.hoursOne">
                    </div>
                </div>
                <div class="col-1 next-row-item">
                    <div class="input-group add-flight-selectors">
                        <input type="number" id="hours-inputTwo" class="hours-input-box" placeholder="0.0" 
                        aria-describedby="sizing-addon1" name="hoursTwo" [(ngModel)]="flight.hoursTwo">
                    </div>
                </div>
                <div class="col-1 next-row-item">
                    <div class="input-group add-flight-selectors">
                        <input type="number" id="hours-inputThree" class="hours-input-box" placeholder="0.0" 
                        aria-describedby="sizing-addon1" name="hoursThree" [(ngModel)]="flight.hoursThree">
                    </div>
                </div>
            </div> 
            <!-- <div class="row">
                <div class="alert alert-danger col-5 offset-4" role="alert" id="hours-alert"
                *ngIf="f.value.hours > 12.0">
                    <p>Too high!</p>    
                </div>  
            </div> -->
            <div class="row flight-list-row">
                <div class="col-3 add-flight-list">
                    <p>Seat</p>
                </div>
                <div class="col-1 first-row-item">
                    <div class="dropdown" #elSeat id="elSeat">
                        <div class="btn add-flight-selectors" type="button" id="seatDropdownOne"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <p>{{f.value.seatOne}}</p> 
                        </div>
                        <ul class="dropdown-menu" aria-labelledby="seatDropdownOne">
                            <div *ngFor="let seats of seatOne">
                                <label>
                                <input type="radio" name="seatOne" [(ngModel)]="flight.seatOne"
                                [value]="seats.value" (click)="onDropdownSelect($event)">
                                {{seats.value}}
                                </label>
                            </div> 
                        </ul>
                    </div>
                </div>
                <div class="col-1 next-row-item">
                    <div class="dropdown" #elSeatTwo id="elSeatTwo">
                        <div class="btn add-flight-selectors" type="button" id="seatDropdownTwo"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <p>{{f.value.seatTwo}}</p> 
                        </div>
                        <ul class="dropdown-menu" aria-labelledby="seatDropdownTwo">
                            <div *ngFor="let seats of seatTwo">
                                <label>
                                <input type="radio" name="seatTwo" [(ngModel)]="flight.seatTwo"
                                [value]="seats.value" (click)="onDropdownSelect($event)">
                                {{seats.value}}
                                </label>
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="col-1 next-row-item">
                    <div class="dropdown" #elSeatThree id="elSeatThree">
                        <div class="btn add-flight-selectors" type="button" id="seatDropdownThree"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <p>{{f.value.seatThree}}</p> 
                        </div>
                        <ul class="dropdown-menu" aria-labelledby="seatDropdownThree">
                            <div *ngFor="let seats of seatThree">
                                <label>
                                <input type="radio" name="seatThree" [(ngModel)]="flight.seatThree"
                                [value]="seats.value" (click)="onDropdownSelect($event)">
                                {{seats.value}}
                                </label>
                            </div>
                        </ul>
                    </div>
                </div>
            </div> 
            <div class="row" id="last-list-row"> 
                <div class="col-3 add-flight-list flight-list-centered">
                    <p>Remarks</p>
                </div>
                <div class="col-7 add-flight-remarks first-row-item">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter remarks..." 
                        aria-describedby="sizing-addon2" name="remarks" [maxlength]="30" [(ngModel)]="flight.remarks">
                    </div>
                </div> 
            </div> 
            <div class="row">
                <div class="col-1 offset-4" id="logit-button">
                    <button class="btn" type="submit" id="submit-button" [disabled]=""
                    (click)="onSubmit(f)">Log It!</button>
                    <button id="openModalButton" #openModalButton [hidden]="true" data-toggle="modal"
                    data-target=".bd-example-modal-sm"></button>
                </div>
                <!--Completion Modal-->
                <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
                aria-hidden="true" id="successModal">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content" id="submit-modal-content">
                            <div class="modal-header" id="submit-modal-header">
                                <h3>Upload successful!</h3>
                            </div>
                            <div class="modal-body">
                                <p>Do you want to log another flight?<p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn" id="yes-modal-button" 
                                data-dismiss="modal" (click)="onResetForm()">Sure!</button>
                                <button type="button" class="btn" id="no-modal-button" 
                                data-dismiss="modal" [routerLink]="['/main-menu']">No thanks</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </form>
        </div>