<div class="container-fluid" id="add-new-flight-container" >
           <div class="row">
                <div class="col-4">
                    <a [routerLink]="['../']"><span class="glyphicon glyphicon-menu-left" id="back-icon">
                    </span>Back</a>
                </div>
                <div class="col-8" id="add-flight-title">
                    <p>Add New Flight</p>
                </div>
            </div>
            <div id="page-breaker-line"></div>
            <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-3" id="add-flight-date">
                    <span class="glyphicon glyphicon-calendar"></span><p>Date</p>
                </div>
                <div class="col-6 offset-3" id="date-selector" formGroupName="myDateSelector">
                    <div class="input-group">
                        <input type="text" class="form-control" id="from" name="from" 
                        placeholder="MM/DD/YYYY" aria-describedby="sizing-addon2" formControlName="Date"
                        #dateValue value="dateValue.value">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12" id="flight-title-container">
                    <p>Flight</p>
                </div>
            </div>
            <div class="row" formGroupName="flightSymbol">
                <div class="col-5 add-flight-list">
                    <p>Flight Symbol</p>
                </div>
                <div class="col-1 flight-list-dropdown"> 
                    <div class="dropdown">
                        <button class="btn" type="button" id="dropdownMenu1"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{flightSymbol}}
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <input type="radio" name="D" value="D"
                                formControlName="D" [(ngModel)]="flightSymbol">D
                                <input type="radio" name="N" value="N"
                                formControlName="N" [(ngModel)]="flightSymbol">N
                                <input type="radio" name="S" value="S"
                                formControlName="S" [(ngModel)]="flightSymbol">S
                        </ul>
                    </div>
                </div>
                <div class="col-1 offset-1 flight-list-dropdown flight-dropdown-offset">
                    <div class="dropdown">
                        <button class="btn" type="button" id="dropdownMenu1"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            **                            
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                               <!--NEED DUPLICATION OF FUNCTIONALITY FIX -->
                        </ul>
                    </div>
                </div>
                <div class="col-1 offset-1 flight-list-dropdown flight-dropdown-offset">
                    <div class="dropdown">
                        <button class="btn" type="button" id="dropdownMenu1"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            **
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <!--NEED DUPLICATION OF FUNCTIONALITY FIX -->
                        </ul>
                    </div>
                </div>
            </div>
           <div class="row flight-list-row" formGroupName="dutySymbol">
                <div class="col-5 add-flight-list">
                    <p>Duty Symbol</p>
                </div>
                <div class="col-1 flight-list-dropdown">
                    <div class="dropdown">
                        <button class="btn" type="button" id="dropdownMenu1"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{dutySymbol}}
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <input type="radio" name="PI" value="PI"
                                formControlName="PI" [(ngModel)]="dutySymbol">PI
                                <input type="radio" name="PC" value="PC"
                                formControlName="PC" [(ngModel)]="dutySymbol">PC
                                <input type="radio" name="IP" value="IP"
                                formControlName="IP" [(ngModel)]="dutySymbol">IP
                                <input type="radio" name="SP" value="SP"
                                formControlName="SP" [(ngModel)]="dutySymbol">SP
                        </ul>
                    </div>
                </div>
                <div class="col-1 offset-1 flight-list-dropdown flight-dropdown-offset">
                    <div class="dropdown">
                        <button class="btn" type="button" id="dropdownMenu1"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            **                           
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                           <!--NEED DUPLICATION OF FUNCTIONALITY FIX -->
                        </ul>
                    </div>
                </div>
                <div class="col-1 offset-1 flight-list-dropdown flight-dropdown-offset">
                    <div class="dropdown">
                        <button class="btn" type="button" id="dropdownMenu1"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            **
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <!--NEED DUPLICATION OF FUNCTIONALITY FIX -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row flight-list-row" formGroupName="hours">
                <div class="col-5 add-flight-list">
                    <p>Hours</p>
                </div>
                <div class="col-1 flight-list-dropdown">
                    <div class="input-group hours-dropdown">
                        <input type="text" class="form-control" placeholder="0.0" 
                        aria-describedby="sizing-addon2" #flightHours value="flightHours.value" formControlName="flightHours">
                    </div>    
                </div>
                <div class="col-1 offset-1 flight-list-dropdown flight-dropdown-offset">
                    <div class="input-group hours-dropdown">
                        <!--NEED DUPLICATION OF FUNCTIONALITY FIX -->
                    </div>       
                </div>
                <div class="col-1 offset-1 flight-list-dropdown flight-dropdown-offset">
                    <div class="input-group hours-dropdown">
                        <!--NEED DUPLICATION OF FUNCTIONALITY FIX -->
                    </div>    
                </div>
            </div> 
            <div class="row flight-list-row" formGroupName="seat">
                <div class="col-5 add-flight-list">
                    <p>Seat</p>
                </div>
                <div class="col-1 flight-list-dropdown">
                    <div class="dropdown">
                        <button class="btn" type="button" id="dropdownMenu1"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{seat}}
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <input type="radio" name="Front" value="F"
                                formControlName="Front" [(ngModel)]="seat">Front
                                <input type="radio" name="Back" value="B"
                                formControlName="Back" [(ngModel)]="seat">Back
                        </ul>
                    </div>
                </div>
                <div class="col-1 offset-1 flight-list-dropdown flight-dropdown-offset">
                    <div class="dropdown">
                        <button class="btn" type="button" id="dropdownMenu1"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            **                            
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <!--NEED DUPLICATION OF FUNCTIONALITY FIX -->
                        </ul>
                    </div>
                </div>
                <div class="col-1 offset-1 flight-list-dropdown flight-dropdown-offset">
                    <div class="dropdown">
                        <button class="btn" type="button" id="dropdownMenu1"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            **
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <!--NEED DUPLICATION OF FUNCTIONALITY FIX -->
                        </ul>
                    </div>
                </div>
            </div> 
            <div class="row flight-list-row">
                <div class="col-4 add-flight-list flight-list-centered">
                    <p>Remarks</p>
                </div>
                <div class="col-8 add-flight-remarks">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter remarks..." 
                        aria-describedby="sizing-addon2">
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-1 offset-4" id="logit-button">
                    <button class="btn btn-success" type="submit">Log It!</button>
                </div>
            </div> 
        </form>
        </div>