/*Add New Style page */

#add-new-flight-container {
    padding-top: 10px;
    background-color: darkgray; 
    height: 100vh; 
}

#back-icon {
    margin-right: 5px;
}

a {
    color: inherit;
}

a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

a:active  {
    color: inherit;
    text-decoration: none;
}

#add-flight-title {
    font-size: 120%;
}

#page-breaker-line {
    height: 1px;
    background-color:#272D2D;
}

#add-flight-date {
    font-size: 200%;
    text-align: center; 
    margin-top: 3%;
}

#date-selector {
    margin-top: 5%;
}

#data-selector-tooltip {
    margin-top: 1%;
    font-size: 0.8em;
    margin-bottom: 1%;
} 

#flight-title-container {
    font-size: 240%;
    text-align: center;
}

.flight-list-row {
    margin-top: 6%;
}

.dropdown-menu { 
    background-color: #fff;
    text-align: center;
    min-width: auto;
    padding-right: 20%;
    padding-left: 20%;
    font-size: 1.2em;
}

ul input {
    display: none; /* Hide radio button */
}

.radioSel {
 background-color: grey;   
}

.add-flight-selectors {
    width: 90px;
}

#hours-input {
    text-align: center;
}

#submit-modal-content {
    text-align: center;
}

#logit-button {
    margin-top: 2%;
}