/*Add New Style page */

#add-new-flight-container {
    padding-top: 10px;
    background-color: #192231;
    height: 100vh; 
    color: #C4BABE;
}

#back-icon {
    margin-right: 5px;
    background-color: #985E6D;
    color: #C4BABE;
    text-align: center;
    border-radius: 6px;
}

#add-flight-title {
    font-size: 120%;
}

#page-breaker-line {
    height: 1px;
    background-color:#272D2D;
}

#date-selector {
    margin-top: 1%;
}

#data-selector-tooltip {
    margin-top: 1%;
    font-size: 0.8em;
    margin-bottom: 1%;
} 

#flight-title-container {
    font-size: 240%;
    text-align: center;
}

.dropdown-menu { 
    background-color: #fff;
    text-align: center;
    min-width: auto;
    padding-right: 20%;
    padding-left: 20%;
    font-size: 1.2em;
}

ul input {
    display: none; /* Hide radio button */
}

.radioSel {
 background-color: grey;   
}

.add-flight-selectors {
    width: 90px;
}

#hours-input {
    text-align: center;
}

#dropdownMenu1, #dropdownMenu3 {
    background-color: #494E6B;
    color: #C4BABE;
}

#dropdownMenu2 {
    background-color: #985E6D;
    color: #C4BABE;
} 

#submit-button {
    background-color: #985E6D;
    color: #C4BABE;
}

#submit-modal-content {
    text-align: center;
    background-color: #192231;
    color: #C4BABE;
}

.flight-list-row {
    margin-top: 1%;
}

#logit-button {
    margin-top: 2%;
 }

 .add-flight-remarks {
     max-width: 30%;
 }

 #yes-modal-button {
     background-color: #494E6B;
     color: #C4BABE;
 }

 #no-modal-button {
     background-color: #985E6D;
     color: #C4BABE;
 }

/*Mobile specific */
 @media only screen and (max-width: 840px) {
     #add-flight-date { 
        margin-top: 3%;
    }

    #date-selector {
        margin-top: 5%;
    }

    .flight-list-row {
        margin-top: 6%;
    }

    .add-flight-remarks {
        max-width: 100%;
    }
 }

/* Future use
@media only screen and (max-height: 569) {
    #flight-title-container {
        font-size: 140%;
    }

    * {
        background-color: purple;
    }
}
*/