<div class="container-fluid" id="add-new-flight-container" >
           <div class="row"> 
                <div class="col-3">
                    <div [routerLink]="['/main-menu']" class="btn-info" 
                    id="back-icon">Back</div>
                </div>
                <div class="col-8 offset-1" id="add-flight-title">
                    <p>Add Flight</p>
                </div>
            </div>
            <div id="page-breaker-line"></div>
            <form #f="ngForm">
            <div class="row">
                <div class="col-12" id="date-selector">
                    <ng2-datepicker [options]="options" name="date" 
                    [(ngModel)]="flight.date"></ng2-datepicker>
                </div>
            </div>
            <div class="row">
                <div class="col-12" id="flight-title-container">
                    <p>Flight</p>
                </div>
            </div>
            <div class="row">
                <div class="col-5 add-flight-list">
                    <p>Flight Symbol</p>
                </div>
                <div class="col-4 offset-1"> 
                    <div class="dropdown" id="elFlight" #elFlight>
                        <div class="btn add-flight-selectors" type="button" id="dropdownMenu1"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <p>{{f.value.flightSymbol}}</p>
                        </div>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <div *ngFor="let flightSymbol of flightSymbols">
                                <label>
                                <input type="radio" name="flightSymbol" [(ngModel)]="flight.flightSymbol"
                                [value]="flightSymbol.value" (click)="onDropdownSelect($event)" class="radioSel">
                                    {{flightSymbol.value}}
                                </label>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
           <div class="row flight-list-row">
                <div class="col-5 add-flight-list">
                    <p>Duty Symbol</p>
                </div>
                <div class="col-4 offset-1">
                    <div class="dropdown" #elDuty id="elDuty">
                        <div class="btn add-flight-selectors" type="button" id="dropdownMenu2"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <p>{{f.value.dutySymbol}}</p>
                        </div>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <div *ngFor="let dutySymbol of dutySymbols">
                                <label>
                                <input type="radio" name="dutySymbol" [(ngModel)]="flight.dutySymbol"
                                [value]="dutySymbol.value" (click)="onDropdownSelect($event)">
                                    {{dutySymbol.value}}
                                </label>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row flight-list-row">
                <div class="col-5 add-flight-list">
                    <p>Flight Hours</p>
                </div>
                <div class="col-4 offset-1">
                    <div class="input-group add-flight-selectors">
                        <input type="number" id="hours-input" class="form-control" placeholder="0.0" 
                        aria-describedby="sizing-addon1" name="hours" [(ngModel)]="flight.hours">
                    </div>
                </div>
            </div> 
            <div class="row">
              <div class="alert alert-danger col-5 offset-4" role="alert" id="hours-alert"
                *ngIf="f.value.hours > 12.0">
                    <p>Too high!</p>    
                </div>  
            </div>
            <div class="row flight-list-row">
                <div class="col-5 add-flight-list">
                    <p>Seat</p>
                </div>
                <div class="col-4 offset-1">
                    <div class="dropdown" #elSeat id="elSeat">
                        <div class="btn add-flight-selectors" type="button" id="dropdownMenu3"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <p>{{f.value.seat}}</p> 
                        </div>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
                            <div *ngFor="let seat of seats">
                                <label>
                                <input type="radio" name="seat" [(ngModel)]="flight.seat"
                                [value]="seat.value" (click)="onDropdownSelect($event)">
                                {{seat.value}}
                                </label>
                            </div>
                        </ul>
                    </div>
                </div>
            </div> 
            <div class="row flight-list-row"> 
                <div class="col-4 add-flight-list flight-list-centered">
                    <p>Remarks</p>
                </div>
                <div class="col-8 add-flight-remarks">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter remarks..." 
                        aria-describedby="sizing-addon2" name="remarks" [maxlength]="30" [(ngModel)]="flight.remarks">
                    </div>
                </div> 
            </div> 
            <div class="row">
                <div class="col-1 offset-4" id="logit-button">
                    <button class="btn" type="submit" id="submit-button" [disabled]=""
                    (click)="onSubmit(f)">Log It!</button>
                    <button id="openModalButton" #openModalButton [hidden]="true" data-toggle="modal"
                    data-target=".bd-example-modal-sm"></button>
                </div>
                <!--Completion Modal-->
                <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
                aria-hidden="true" id="successModal">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content" id="submit-modal-content">
                            <div class="modal-header" id="submit-modal-header">
                                <h3>Upload successful!</h3>
                            </div>
                            <div class="modal-body">
                                <p>Do you want to log another flight?<p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn" id="yes-modal-button" 
                                data-dismiss="modal" (click)="onResetForm()">Sure!</button>
                                <button type="button" class="btn" id="no-modal-button" 
                                data-dismiss="modal" [routerLink]="['/main-menu']">No thanks</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </form>
        </div>