/*Add New Style page */ 
 
#add-new-flight-container {
    padding-top: 10px;
    background-color: #AB987A;
    height: 100vh; 
    color: #F5F5F5;
    font-family: 'Playfair Display', serif;
} 

#back-icon {
    margin-right: 5px;
    background-color: #FF533D;
    color: #F5F5F5;
    text-align: center;
    border-radius: 6px;
}

#add-flight-title {
    font-size: 120%;
}

#page-breaker-line {
    height: 1px;
    background-color: #F5F5F5;
}

#date-selector {
    margin-top: 1%;
}

#data-selector-tooltip {
    margin-top: 1%;
    font-size: 0.8em;
    margin-bottom: 1%;
} 

#flight-title-container {
    font-size: 240%;
    text-align: center;
}

#first-flight-row {
    margin-top: 5%;
}

.dropdown-menu { 
    background-color: #fff;
    text-align: center;
    min-width: auto;
    padding-right: 20%;
    padding-left: 20%;
    font-size: 1.2em;
}

ul input {
    display: none; /* Hide radio button */
}

.radioSel {
 background-color: grey;   
}

.add-flight-selectors {
    width: 90px;
}

.add-flight-selectors p {
    margin: 0; 
}

.hours-input-box {
    text-align: center;
    width: 60px;
    height: 40px;
    border-radius: 8px;
}

#dropdownMenu1 {
    background-color: #0F1626;
    color: #F5F5F5; 
    width: 60px;
}

#seatDropdownOne, #seatDropdownTwo, #seatDropdownThree {
    background-color: #0F1626;
    color: #F5F5F5; 
    width: 60px;
}

#dropdownMenu2 {
    background-color: #FF533D;
    color: #F5F5F5;
    width: 60px;
} 

#submit-button {
    background-color: #FF533D;
    color: #F5F5F5;
}

#submit-modal-content {
    text-align: center;
    background-color: #AB987A;
    color: #F5F5F5;
} 

.flight-list-row {
    margin-top: 2%;
}

#last-list-row {
    margin-top: 3%;
}

#logit-button {
    margin-top: 2%;
 }

 .add-flight-remarks {
     max-width: 30%;
 }

 #yes-modal-button {
     background-color: #0F1626;
    color: #F5F5F5; 
 }

 #no-modal-button {
     background-color: #FF533D;
    color: #F5F5F5;
 }

 .first-row-item {
     margin-left: 8%;
 }

 .next-row-item {
     margin-left: 10%;
 }

/*Mobile specific */
 @media only screen and (max-width: 840px) {
     #add-flight-date { 
        margin-top: 3%;
    }

    #date-selector {
        margin-top: 5%;
    }

    #last-list-row {
        margin-top: 9%;
    }

    .flight-list-row {
        margin-top: 3%;
    }

    .add-flight-remarks {
        max-width: 100%;
    }
 }

 /* Tiny Mobile */ 
 @media only screen and (max-height: 570px) {
     .flight-list-row {
         margin-top: 3%;
     }

     .first-row-item {
         margin-left: 0%;
     }

     .hours-input-box {
        width: 50px;
        height: 35px;
    }

 }
