/* Main Menu page */ 
#main-menu-container {
    background-color: #F2F2F2;
    min-height: 100vh;
    height: 100%; 
    font-family: 'Playfair Display', serif;
}

#title-container {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

#title-container img {
    height: 250px;
    width: 240px;
}
 
#new-flight, #weather, #view-log, #notams {
    background-color: #8FC4D9;
    color: #2E2E2E;
}

.main-menu-item {
    text-align: center;
    margin-top: 1%;
    border-radius: 6px;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
}

.main-menu-item p {
    font-size: 95%;
}

#new-flight {
    margin-top: 2%;
}

#logout-button {
    background-color: #8FC4D9;
    color: #2E2E2E;
    border-radius: 6px;
    margin-top: 20%;
}

/*Mobile specific */
@media only screen and (max-width: 840px) {
    #title-container {
        margin-top: 7%;
        margin-bottom: 6%;
    }

    .main-menu-item {
        margin-top: 3%;
    }

    #new-flight {
        margin-top: 5%;
    }
}