<div class="container-fluid" id="main-menu-container">  
    <div class="row">
        <div class="col-8 offset-2" id="title-container"> 
            <h1><span id="log-name">Log</span><span id="it-name">It</span></h1>
            <h4>AH-64D/E</h4> 
        </div>
    </div>
    <div class="row"> 
        <button class="col-4 offset-4 main-menu-item btn" id="new-flight"
        [routerLink]="['/add-flight']">New Flight</button>
    </div>
    <div class="row">
        <button class="col-4 offset-4 main-menu-item btn" id="view-log"
        [routerLink]="['/flight-log']">View Log</button>
    </div>
    <div class="row">
        <button class="col-4 offset-4 main-menu-item btn" 
        id="weather">Weather</button>
    </div>
    <div class="row">
        <button class="col-4 offset-4 main-menu-item btn" 
        id="notams">NOTAMS</button>
    </div>
    <div class="navbar fixed-bottom" id="logout-button-div">
        <button class="col-4 btn main-menu-item" id="logout-button" 
        (click)="onLogout()">Log Out</button>
    </div>
</div>