<div class="container-fluid" id="main-menu-container">
    <div class="row">
        <div class="col-8 offset-2" id="title-container"> 
            <h1><span id="log-name">Log</span><span id="it-name">It</span></h1>
            <h4>AH-64D/E</h4> 
        </div>
    </div>
    <div class="row">
        <div class="col-4 offset-4 main-menu-item btn-info" id="new-flight"
            [routerLink]="['/add-flight']">
                <p>New Flight</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4 offset-4 main-menu-item btn-info" id="view-log"
            [routerLink]="['/flight-log']">
                <p>View Log</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4 offset-4 main-menu-item btn-info" id="weather">
            <p>Weather</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4 offset-4 main-menu-item btn-info" id="notams">
            <p>NOTAMS</p>
        </div>
    </div>
    <div class="navbar fixed-bottom" id="logout-button-div">
        <div class="col-2">
            <button class="btn" id="logout-button" 
            (click)="onLogout()">Log Out</button>
        </div>
    </div>
</div>