/* Main Menu page */ 

#main-menu-container {
    background-color: #AB987A;
    height: 100vh; 
    color: #F5F5F5;
    font-family: 'Playfair Display', serif;
}

#it-name {
    color: #FF533D;
}

#log-name {
    color: #0F1626;
}

#title-container {
    text-align: center;
    margin-top: 5%;
    border-radius: 10px;
}
 
#new-flight, #weather {
    background-color: #FF533D;
    color: #F5F5F5;
    
}

#view-log, #notams {
    background-color: #0F1626;
    color: #F5F5F5;
}

.main-menu-item {
    text-align: center;
    margin-top: 1%;
    border-radius: 6px;
}

.main-menu-item p {
    font-size: 95%;
}

#new-flight {
    margin-top: 5%;
}

#logout-button {
    background-color: #FF533D;
    color: #F5F5F5;
    border-radius: 6px;
}

#logout-button p {
    margin: 0;
}
/*Mobile specific */
@media only screen and (max-width: 840px) {
    #title-container {
        margin-top: 17%;
    }

    .main-menu-item {
        margin-top: 5%;
    }

    #new-flight {
        margin-top: 20%;
    }
}