/* Main Menu page */ 
#main-menu-container {
    background-color: #F2F2F2;
    height: 100vh; 
    font-family: 'Playfair Display', serif;
}

#it-name {
    color: #8FC4D9;
}

#log-name {
    color: #2E2E2E;
}

#title-container {
    text-align: center;
    margin-top: 5%;
    border-radius: 10px;
}
 
#new-flight, #weather, #view-log, #notams {
    background-color: #8FC4D9;
    color: #2E2E2E;
}

.main-menu-item {
    text-align: center;
    margin-top: 1%;
    border-radius: 6px;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
}

.main-menu-item p {
    font-size: 95%;
}

#new-flight {
    margin-top: 5%;
}

#logout-button {
    background-color: #8FC4D9;
    color: #2E2E2E;
    border-radius: 6px;
    margin-top: 20%;
}

/*Mobile specific */
@media only screen and (max-width: 840px) {
    #title-container {
        margin-top: 17%;
    }

    .main-menu-item {
        margin-top: 5%;
    }

    #new-flight {
        margin-top: 20%;
    }
}