/* Sign up page */

#sign-up-container { 
    background-color: #192231;
    height: 100vh; 
    color: #C4BABE;
}

#title-container {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 3%;
    border-radius: 10px;
}


#sign-up-div {
    margin-top: 5%;
}

#submit-button {
    background-color: #985E6D;
    color: #C4BABE;
}

#register-modal-content {
    text-align: center;
    background-color: #192231;
    color: #C4BABE;
}

#modal-close-button {
    background-color: #494E6B;
    color: #C4BABE;
}

/*Mobile specific */
@media only screen and (max-width: 840px) {
    #title-container {
        margin-top: 17%;
        margin-bottom: 10%;
    }

    #sign-up-div {
        margin-top: 15%;
    }
}