/* Sign up page */
  
#sign-up-container { 
    background-color: #16a085;
    min-height: 100vh;
    height: 100%; 
    font-family: 'Playfair Display', serif; 
    padding-bottom: 15px;
}

#title-container {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

#title-container img {
    height: 250px;
    width: 240px;
}

#sign-up-div {
    margin-top: 2%;
}

#submit-button {
    background-color: #16a085;
    color: #FFFFFF;
    text-align: center;
    border-radius: 6px;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
}

#register-modal-content {
    text-align: center;
    background-color: #F2F2F2;
    color: #2E2E2E;
}

#modal-close-button {
    background-color: #8FC4D9;
     font-family: 'Playfair Display', serif;
    color: #2E2E2E;
    font-weight: 800; 
}

.menu-box {
    background-color: #FFFFFF;
    border-radius: 15px;
    text-align: center;
    color: #16a085;
}

/*Mobile specific */
@media only screen and (max-width: 840px) {
    #title-container {
        margin-top: 7%;
        margin-bottom: 6%;
    }

    #sign-up-div {
        margin-top: 5%;
    }

    .menu-box {
        margin-left: 5px;
        margin-right: 5px;
    }
}