<div class="container-fluid" id="landing-menu-container">
  <div class="row">
    <div class="col-8 offset-2" id="title-container">
      <h1>LOG IT!</h1>
      <h4>AH-64D/E</h4>
    </div>
  </div>
  <div class="row button-space">
    <div class="col-2 offset-1">
      <button type="button" class="btn" id="signin-button"
      [routerLink]="['/log-in']">Sign in</button>
    </div>
    <div class="col-2 offset-4">
     <button type="button" class="btn" id="signup-button"
     [routerLink]="['/sign-up']">Sign up</button>
    </div>
  </div>
</div>
