/* Landing menu page */
 
#landing-menu-container { 
    background-color: #AB987A;    
    height: 100vh;  
    color: #F5F5F5; 
    font-family: 'Playfair Display', serif;
}   

#it-name {
    color: #FF533D;
}  

#log-name {
    color: #0F1626;
}

#title-container {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 7%;
    border-radius: 10px;
}

.button-space {
    margin-top: 5%;
}

#log-in-div {
    margin-top: 15%;
}

.menu-buttons {
    font-family: 'Playfair Display', serif;
}

#signin-button {
    background-color: #FF533D;
    color: #F5F5F5;
    text-align: center;
    width: 100%;
    border-radius: 6px;
}

#signup-button {
    background-color: #0F1626;
    color: #F5F5F5;
    text-align: center;
    width: 100%;
    border-radius: 6px;
}


/*Mobile specific */
@media only screen and (max-width: 840px) {
    .button-space {
        margin-top: 20%;
    }

    #title-container {
        margin-top: 17%;
        margin-bottom: 13%;
    }
}

