<div class="container-fluid" id="landing-menu-container"> 
  <div class="row">  
    <div class="col-8 offset-2" id="title-container">
     <h1><span id="log-name">Log</span><span id="it-name">It</span></h1>
      <h4>AH-64D/E</h4> 
    </div>
  </div>
  <div class="row button-space">
    <button class="col-4 offset-4 btn menu-buttons" id="signin-button"
    [routerLink]="['/log-in']">Sign In</button> 
  </div>
  <div class="row button-space">
    <button class="col-4 offset-4 btn menu-buttons" id="signup-button"
    [routerLink]="['/sign-up']">Sign Up</button> 
  </div>
</div>
