/* Log in page */

#log-in-container {
    background-color: #AB987A;
    height: 100vh;  
    color: #F5F5F5;
    font-family: 'Playfair Display', serif;
} 

#it-name {
    color: #FF533D;
}

#log-name {
    color: #0F1626;
}

#title-container {
    text-align: center;
    margin-top: 6%;
    border-radius: 10px;
}

#email-input-div {
    margin-top: 10%;
}

#log-in-div {
    margin-top: 8%;
}

#submit-button {
    background-color: #0F1626;
    color: #F5F5F5;
    text-align: center;
    border-radius: 6px;
}

#validation-modal-content {
    text-align: center;
    background-color: #AB987A;
    color: #F5F5F5;
}

#modal-close-button {
    background-color: #0F1626;
    color: #F5F5F5;
}

/*Mobile specific */
@media only screen and (max-width: 840px) {
    #title-container {
        margin-top: 17%;
    }

    #email-input-div {
        margin-top: 25%;
    }

    #log-in-div {
        margin-top: 15%;
    }

}