<div class="container-fluid" id="log-in-container">   
  <div class="row">
    <div class="col-8 offset-2" id="title-container">
       <h3><span id="log-name">flightHours</span><span id="it-name">Tracker</span></h3>
      <h4>AH-64D/E</h4>
    </div> 
  </div> 
  <form #f="ngForm" (ngSubmit)="onSignIn(f)">
  <div class="form-group"> 
  <div class="row" id="email-input-div"> 
    <div class="col-6 offset-3"> 
      <label>Email:</label> <br>
      <input type="email" name="email" id="email-input" ngModel class="form-control">
    </div>
  </div>
  <div class="row" id="password-input-div">
    <div class="col-6 offset-3">
      <label>Password:</label> <br>
      <input type="password" name="password" id="password-input" ngModel class="form-control">
    </div>
  </div> 
  <div class="row" id="log-in-div">
    <button type="submit" id="submit-button" 
    class="col-4 offset-4 btn">Sign In</button>
  </div>
  </div>
  </form>
  <button id="openModal" #openModal [hidden]="true" 
  data-toggle="modal" data-target=".bd-example-modal-sm"></button>
  <!--Log in fail notification modal -->
  <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true" id="validation-modal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content" id="validation-modal-content">
        <div class="modal-header" id="validation-modal-header">
          <h3>Login credentials incorrect</h3>
        </div>
        <div class="modal-body">
          <p>You have failed to login, either the email or password you have provided is incorrect.
            Please try again.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" 
          data-dismiss="modal" id="modal-close-button">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>