/* Log in page */
 
#log-in-container {
    background-color: #F2F2F2;
    height: 100vh;  
    font-family: 'Playfair Display', serif;
} 

#it-name {
    color: #8FC4D9;
}

#log-name {
    color: #2E2E2E;
}

#title-container {
    text-align: center;
    margin-top: 6%;
    border-radius: 10px;
}

#email-input-div {
    margin-top: 10%;
}

#log-in-div {
    margin-top: 8%;
}

#submit-button {
    background-color: #8FC4D9;
    color: #2E2E2E;
    text-align: center;
    border-radius: 6px;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
}

#validation-modal-content {
    text-align: center;
    background-color: #F2F2F2;
    color: #2E2E2E;
}

#modal-close-button {
    background-color: #8FC4D9;
    color: #2E2E2E;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
}

/*Mobile specific */
@media only screen and (max-width: 840px) {
    #title-container {
        margin-top: 17%;
    }

    #email-input-div {
        margin-top: 25%;
    }

    #log-in-div {
        margin-top: 15%;
    }

}