/* Log in page */

#log-in-container {
    background-color: #A3B86C;
    height: 100vh; 
    color: #373D3F;
}

#title-container {
    text-align: center;
    margin-top: 6%;
    border-radius: 10px;
}

#email-input-div {
    margin-top: 10%;
}

#log-in-div {
    margin-top: 8%;
}

#submit-button {
    background-color: #093145;
    color: #F2F3F4;
}

/*Mobile specific */
@media only screen and (max-width: 840px) {
    #title-container {
        margin-top: 17%;
    }

    #email-input-div {
        margin-top: 25%;
    }

    #log-in-div {
        margin-top: 15%;
    }

}