<div class="container-fluid" id="flight-log-container">
            <div class="row">
                <div class="col-3">
                    <a [routerLink]="['../']"><span class="glyphicon glyphicon-menu-left" id="back-icon">
                    </span>Back</a>
                </div>
                <div class="col-6" id="flight-log-title">
                    <p>Flight Log</p>
                </div>
            </div>
            <div id="page-breaker-line"></div>
            <div class="row">
                <div class="col-4 offset-4" id="date-range-container">
                    <!--Controls date picker modal-->
                    <p data-toggle="modal" data-target="#myModal">Current</p>
                </div>
                <!--date picker modal-->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="#exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal Title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <label for="from">From</label>
                                <input type="text" id="from" name="from">
                                <br>
                                <label for="to">To</label>
                                <input type="text" id="to" name="to">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save Changes</button>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>       
            <div class="row">
                <div class="col-5 offset-1 add-flight-list">
                    <p>Total Hours</p>
                </div>
                <div class="col-3 offset-1 hours-box">
                    {{totalHours}}
                </div>
            </div>
            <div class="row flight-list-row">
                <div class="col-5 offset-1 add-flight-list">
                    <p>Day</p>
                </div>
                <div class="col-3 offset-1 hours-box">
                    {{dayHours}}
                </div>
            </div>  
            <div class="row flight-list-row">
                 <div class="col-5 offset-1 add-flight-list">
                    <p>NVS</p>
                </div>
                <div class="col-3 offset-1 hours-box">
                    {{nvsHours}}
                </div>
            </div>
            <div class="row flight-list-row">
                 <div class="col-5 offset-1 add-flight-list">
                    <p>NVG</p>
                </div>
                <div class="col-3 offset-1 hours-box">
                    {{nvgHours}}
                </div>
            </div> 
            <div class="row flight-list-row">
               <div class="col-5 offset-1 add-flight-list">
                    <p>NVD</p>
                </div>
                <div class="col-3 offset-1 hours-box">
                    {{nvdHours}}
                </div>
            </div> 
            <div class="row flight-list-row">
               <div class="col-5 offset-1 add-flight-list">
                    <p>Hood</p>
                </div>
                <div class="col-3 offset-1 hours-box">
                    {{hoodHours}}
                </div>
            </div>
            <div class="row flight-list-row">
               <div class="col-5 offset-1 add-flight-list">
                    <p>Night</p>
                </div>
                <div class="col-3 offset-1 hours-box">
                    {{nightHours}}
                </div>
            </div>
            <div class="row flight-list-row">
               <div class="col-5 offset-1 add-flight-list">
                    <p>Weather</p>
                </div>
                <div class="col-3 offset-1 hours-box">
                    {{weatherHours}}
                </div>
            </div>
            <div class="row flight-list-row">
               <div class="col-5 offset-1 add-flight-list">
                    <p>Sim</p>
                </div>
                <div class="col-3 offset-1 hours-box">
                    {{simHours}}
                </div>
            </div>
             <div class="row" id="filter-buttons">
               <div class="col-2 offset-1">
                    <button class="btn btn-info" id="filterButton">Filter</button>
                </div>
                <div class="col-2 offset-4">
                    <button class="btn btn-info" id="reqdButton">Req'd</button>
                </div>
            </div>
        </div>