<div class="container-fluid" id="flight-log-container">  
    <div class="row"> 
        <div class="col-3"> 
            <span [routerLink]="['/main-menu']" id="back-icon">Back</span>
        </div>
        <div class="col-6" id="flight-log-title">
            <p>Flight Log</p> 
        </div> 
    </div> 
    <div class="page-breaker-line"></div>
    <div class="row" id="date-range-row">
        <!--Controls date picker modal-->
        <button class="col-4 offset-4 btn" id="date-range-button" *ngIf="!datesSubmitted; else elseSpan">
            <span data-toggle="modal" data-target="#myModal">Select range</span>
        </button>
        <ng-template #elseSpan>
            <div class="col-7 offset-1" id="date-range">
                {{fromDate.formatted}} TO {{toDate.formatted}}
            </div>
            <button class="col-2 btn" data-toggle="modal" 
            data-target="#myModal" id="new-range-button">New</button>
        </ng-template>
        <!--date picker modal-->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="#exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content" id="modal-content-id">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Select date range</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label for="from">From</label>
                    <ng2-datepicker [options]="fromOptions" [(ngModel)]="fromDate"></ng2-datepicker>
                    <br>
                    <label for="to">To</label>
                    <ng2-datepicker [options]="toOptions" [(ngModel)]="toDate"></ng2-datepicker>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" id="close-daterange-modal" 
                    data-dismiss="modal">Close</button>
                    <button type="button" class="btn" id="save-daterange-modal" 
                    (click)="sendDates()" data-dismiss="modal">Save Changes</button>
                 </div>
            </div>
            </div>
        </div> 
    </div>
    <div *ngIf="!showTotals; else hourTotalsDiv">
    <div class="row">
        <div class="col-4" id="date-row">
            DATE
        </div>
        <div class="col-2" id="fs-row">
            FS 
        </div>
        <div class="col-1" id="ds-row">
            DS  
        </div>
        <div class="col-1" id="hours-row"> 
            Hrs
        </div>
        <div class="col-1" id="seat-row">
            St 
        </div>
        <div class="custom-col" id="remarks-row">
            RMKS
        </div>
    </div>
     <div class="page-breaker-line"></div>
     <div id="big-flight-log">
     <div *ngFor="let flights of flightCollection">
        <div class="row">
            <div class="col-4" id="date-display-row">
                {{flights.date.formatted}}
            </div>
            <div class="col-2" id="fs-display-row">
                {{flights.flightSymbol}}
            </div>
            <div class="col-1" id="ds-display-row">
                {{flights.dutySymbol}}
            </div>
            <div class="col-1" id="hours-display-row">
                {{flights.hours}}
            </div>
            <div class="col-1" id="seat-display-row">
                {{flights.seat}}
            </div>
            <div class="log-display" id="remarks-display-row">
                <button id="rmk-button" (click)="showFlightRemarks(flights.remarks)">Rmk</button>
            </div>
        </div>
    </div>
    </div>
    <div class="row low-button-row">
        <div class="col-4">
            <div class="bottom-log-btn btn-info" id="view-totals-btn"
            (click)="changeHoursDisplay()">
                <p>Totals</p>
            </div>
        </div>
        <div class="col-4 offset-4">
            <div class="bottom-log-btn btn-info" id="edit-flights-btn">
                <p>Edit</p>
            </div>
        </div>
    </div>
    </div>
    <ng-template #hourTotalsDiv>
    <div *ngIf="!sortByDuty; else dutyHoursDiv">
    <div class="row">
        <div class="col-4 add-flight-list header-row">
            <p>Symbol</p>
        </div>
        <div class="col-2 add-flight-list header-row">
            <p>Flown</p>
        </div>
        <div class="col-2 add-flight-list header-row">
            <p>Req</p>
        </div>
        <div class="col-2 add-flight-list header-row">
            <p>Rem</p>
        </div>
    </div>   
    <div class="page-breaker-line"></div>   
    <div class="row">
        <div class="col-4 add-flight-list">
            <p>Total Hours</p>
        </div>
        <div class="col-2 hours-box">
            {{totalHours}}
        </div>
        <div class="col-2 hours-box">
            {{flightSymReq.totalHours}}
        </div>
        <div class="col-2 hours-box not-met" [ngClass]="{'is-met': totalMet}">
            <span *ngIf="totalMet; else diffNum">0 </span>
            <ng-template #diffNum>{{reqDifference.totalHours}}</ng-template>
        </div>
    </div>
    <div class="row flight-list-row">
        <div class="col-4 add-flight-list">
            <p>Day</p>
        </div>
        <div class="col-2 hours-box">
            {{dayHours}}
        </div>
        <div class="col-2 hours-box">
            {{flightSymReq.dayHours}}
        </div>
        <div class="col-2 hours-box not-met" [ngClass]="{'is-met': dayMet}">
            <span *ngIf="dayMet; else diffDay">0 </span>
            <ng-template #diffDay>{{reqDifference.dayHours}}</ng-template>
        </div>
    </div>  
    <div class="row flight-list-row">
        <div class="col-4 add-flight-list">
            <p>NVS</p>
        </div>
        <div class="col-2 hours-box">
            {{nvsHours}}
        </div>
        <div class="col-2 hours-box">
            {{flightSymReq.nvsHours}}
        </div>
        <div class="col-2 hours-box not-met" [ngClass]="{'is-met': nvsMet}">
            <span *ngIf="nvsMet; else diffNvs">0 </span>
            <ng-template #diffNvs>{{reqDifference.nvsHours}}</ng-template>
        </div>
    </div>
    <div class="row flight-list-row">
        <div class="col-4 add-flight-list">
            <p>NVG</p>
        </div>
        <div class="col-2 hours-box">
            {{nvgHours}}
        </div>
        <div class="col-2 hours-box">
            {{flightSymReq.nvgHours}}
        </div>
        <div class="col-2 hours-box not-met" [ngClass]="{'is-met': nvgMet}">
            <span *ngIf="nvgMet; else diffNvg">0 </span>
            <ng-template #diffNvg>{{reqDifference.nvgHours}}</ng-template>
        </div>
    </div> 
    <div class="row flight-list-row">
        <div class="col-4 add-flight-list">
            <p>NVD</p>
        </div>
        <div class="col-2 hours-box">
            {{nvdHours}}
        </div>
        <div class="col-2 hours-box">
            {{flightSymReq.nvdHours}}
        </div>
        <div class="col-2 hours-box not-met" [ngClass]="{'is-met': nvdMet}">
            <span *ngIf="nvdMet; else diffNvd">0 </span>
            <ng-template #diffNvd>{{reqDifference.nvdHours}}</ng-template>
        </div>
    </div> 
    <div class="row flight-list-row">
        <div class="col-4 add-flight-list">
            <p>Hood</p>
        </div>
        <div class="col-2 hours-box">
            {{hoodHours}}
        </div>
        <div class="col-2 hours-box">
            {{flightSymReq.hoodHours}}
        </div>
        <div class="col-2 hours-box not-met" [ngClass]="{'is-met': hoodMet}">
            <span *ngIf="hoodMet; else diffHood">0 </span>
            <ng-template #diffHood>{{reqDifference.hoodHours}}</ng-template>
        </div>
    </div>
    <div class="row flight-list-row">
        <div class="col-4 add-flight-list">
            <p>Night</p>
        </div>
        <div class="col-2 hours-box">
            {{nightHours}}
        </div>
        <div class="col-2 hours-box">
            {{flightSymReq.nightHours}}
        </div>
        <div class="col-2 hours-box not-met" [ngClass]="{'is-met': nightMet}">
            <span *ngIf="nightMet; else diffNight">0 </span>
            <ng-template #diffNight>{{reqDifference.nightHours}}</ng-template>
        </div>
    </div>
    <div class="row flight-list-row">
        <div class="col-4 add-flight-list">
            <p>Weather</p>
        </div>
        <div class="col-2 hours-box">
            {{weatherHours}}
        </div>
        <div class="col-2 hours-box">
            {{flightSymReq.weatherHours}}
        </div>
        <div class="col-2 hours-box not-met" [ngClass]="{'is-met': weatherMet}">
            <span *ngIf="weatherMet; else diffWeather">0 </span>
            <ng-template #diffWeather>{{reqDifference.weatherHours}}</ng-template>
        </div>
    </div> 
    <div class="row flight-list-row">
        <div class="col-4 add-flight-list">
            <p>Sim</p>
        </div>
        <div class="col-2 hours-box">
            {{simHours}}
        </div>
        <div class="col-2 hours-box">
            {{flightSymReq.simHours}}
        </div>
        <div class="col-2 hours-box not-met" [ngClass]="{'is-met': simMet}">
            <span *ngIf="simMet; else diffSim">0 </span>
            <ng-template #diffSim>{{reqDifference.simHours}}</ng-template>
        </div>
    </div>
    </div>
    <ng-template #dutyHoursDiv>
    <div class="row">
        <div class="col-5 offset-1 add-flight-list">
            <p>Total Hours</p>
        </div>
        <div class="col-3 offset-1 hours-box">
            {{totalHours}}
        </div>
    </div>
    <div class="row flight-list-row">
        <div class="col-5 offset-1 add-flight-list">
            <p>PI</p>
        </div>
        <div class="col-3 offset-1 hours-box">
            {{hoursPI}}
        </div>
    </div> 
    <div class="row flight-list-row">
        <div class="col-5 offset-1 add-flight-list">
            <p>PC</p>
        </div>
        <div class="col-3 offset-1 hours-box">
            {{hoursPC}}
        </div>
    </div>
    <div class="row flight-list-row">
        <div class="col-5 offset-1 add-flight-list">
            <p>IP</p>
        </div>
        <div class="col-3 offset-1 hours-box">
            {{hoursIP}}
        </div>
    </div>
    <div class="row flight-list-row">
        <div class="col-5 offset-1 add-flight-list">
            <p>SP</p>
        </div>
        <div class="col-3 offset-1 hours-box">
            {{hoursSP}} 
        </div>
    </div>
    </ng-template>
    <div class="row" id="filter-buttons">
        <div class="col-3 offset-2 btn-info" id="filterButton"
        (click)="filterTotals()">Filter</div>
        <div class="col-3 offset-2 btn-info" id="reqdButton">Req'd</div>     
    </div>
    <div class="row low-button-row">
        <div class="col-4 offset-4">
            <div class="bottom-log-btn btn-info" id="show-flight-list"
            (click)="changeHoursDisplay()">
                <p>Flight List</p>
            </div>
        </div>
    </div>
    </ng-template>
    <button id="openModalButton" #openModalButton [hidden]="true" data-toggle="modal"
    data-target="#remarksModel"></button>
    <div class="modal fade" id="remarksModel" tabindex="-1" role="dialog" aria-labelledby="#exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="modal-content-id">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Flight Remarks</h5>
                </div>
                <div class="modal-body">
                    {{currentRemarks}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" id="close-remarks-modal" 
                    data-dismiss="modal">Close</button>
                 </div>
            </div>
        </div>
    </div>
</div>