/* Flight Log page */

#flight-log-container {
    padding-top: 10px;
    background-color: #AB987A; 
    height: 100vh; 
    color: #F5F5F5;
    font-family: 'Playfair Display', serif;
}

#back-icon {
    margin-right: 5px;
    background-color: #FF533D;
    color: #F5F5F5;
    text-align: center;
    border-radius: 6px;
}

#flight-log-title {
    font-size: 150%;
    text-align: center;
}

.page-breaker-line {
    height: 1px;
    background-color:#F5F5F5;
}

#date-range-container {
    margin-top: 3%;
    text-align: center;
} 

#modal-content-id {
    background-color: #AB987A; 
    color: #F5F5F5;
}

#close-daterange-modal {
    background-color: #FF533D;
    color: #F5F5F5;
}

#save-daterange-modal {
    background-color: #0F1626;
    color: #F5F5F5;
}

#date-range-button {
    background-color: #0F1626;
    color: #F5F5F5;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 6px;
    text-align: center;
}

#exampleModelLabel h5 {
    color: #373D3F;
}

.add-flight-list {
    text-align: center;
}

.hours-box {
    text-align: center;
}
.hours-box p {
    border: 2px solid #272D2D;
}

#filter-buttons {
    margin-top: 1%;
}

#filterButton, #reqdButton {
    background-color: #FF533D;
    color: #F5F5F5;
    text-align: center;
    border-radius: 6px;
    margin-top: 5%;
}

.custom-col {
    margin-left: 3%;
}

.log-display {
    margin-left: 3%;
}

#rmk-button {
    width: 50px;
    height: 85%;
    border-radius: 10px;
    margin-top: 5%;
    background-color: #0F1626;
    color: #F5F5F5;
}

#big-flight-log {
    height: 420px;
    overflow-y: auto;
    overflow-x: hidden;
}

.bottom-log-btn {
    text-align: center;
    margin-top: 1%;
    border-radius: 6px;
}

#view-totals-btn {
    background-color: #0F1626;
    color: #F5F5F5;
}

#edit-flights-btn {
    background-color: #FF533D;
    color: #F5F5F5;
}

#show-flight-list {
    background-color: #0F1626;
    color: #F5F5F5;
    margin-top: 3%;
}

.low-button-row {
    margin-top: 3%;
}

@media only screen and (max-height: 570px) {
    #big-flight-log {
        height: 355px;
    }
}

