/* Flight Log page */

#flight-log-container {
    padding-top: 10px;
    background-color: #F2F2F2; 
    min-height: 100vh;
    height: 100%; 
    font-family: 'Playfair Display', serif;
}

#back-icon {
    background-color: #8FC4D9;
    color: #2E2E2E;
    font-weight: 800;
    font-family: 'Playfair Display', serif;
    border-radius: 6px;
    padding: 3px;
}

#flight-log-title {
    font-size: 150%;
    text-align: center;
    font-weight: 600;
}

.page-breaker-line {
    height: 1px;
    background-color:#2E2E2E;
}

#date-range-row { 
    margin-top: 2%;
    margin-bottom: 1%;
} 

.header-row {
    font-weight: 600;
}

#modal-content-id {
    background-color: #F2F2F2; 
    color: #2E2E2E;
}

#close-daterange-modal {
    background-color: #8FC4D9;
    color: #2E2E2E;
    font-weight: 800;
}

#close-remarks-modal {
    background-color: #8FC4D9;
    color: #2E2E2E;
    font-weight: 800;
}

#save-daterange-modal {
    background-color: #8FC4D9;
    color: #2E2E2E;
    font-weight: 800;
}

#date-range-button {
    background-color: #8FC4D9;
    color: #2E2E2E;
    font-family: 'Playfair Display', serif;
    margin-bottom: 2%;
    border-radius: 6px;
    text-align: center;
    font-weight: 800;
}

#new-range-button {
    background-color: #8FC4D9;
    color: #2E2E2E;
    font-family: 'Playfair Display', serif;
    border-radius: 6px;
    text-align: center;
    font-weight: 800;
}

#date-range {
    color: #2E2E2E; 
    font-weight: 800;
}

#exampleModelLabel h5 {
    color: #2E2E2E;
}

.add-flight-list {
    text-align: center;
}

.hours-box {
    text-align: center;
}
.hours-box p {
    border: 2px solid #2E2E2E;
}

#filter-buttons {
    margin-top: 1%;
}

#filterButton, #reqdButton {
    background-color: #8FC4D9;
    color: #2E2E2E;
    font-weight: 800;
    text-align: center;
    border-radius: 6px;
    margin-top: 5%;
}

.custom-col {
    margin-left: 3%;
}

.log-display {
    margin-left: 3%;
}

#rmk-button {
    width: 50px;
    height: 85%;
    border-radius: 10px;
    margin-top: 5%;
    padding: 2px;
    background-color: #8FC4D9;
    color: #2E2E2E;
}

#big-flight-log {
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.bottom-log-btn {
    text-align: center;
    margin-top: 1%;
    border-radius: 6px;
}

#view-totals-btn {
    background-color: #8FC4D9;
    color: #2E2E2E;
    font-weight: 800;
}

#edit-flights-btn {
    background-color: #8FC4D9;
    color: #2E2E2E;
    font-weight: 800;
}

#show-flight-list {
    background-color: #8FC4D9;
    color: #2E2E2E;
    font-weight: 800;
    margin-top: 3%;
}

.low-button-row {
    margin-top: 3%;
}

.not-met {
    background-color: #e74c3c;
    border-radius: 6px;
}

.is-met {
    background-color: #27ae60;
}

@media only screen and (max-height: 570px) {
    #big-flight-log {
        height: 325px;
    }
}

