/* Flight Log page */

#flight-log-container {
    padding-top: 10px;
    background-color: #192231; 
    height: 100vh; 
    color: #C4BABE;
}

#back-icon {
    margin-right: 5px;
    background-color: #985E6D;
    color: #C4BABE;
    text-align: center;
    border-radius: 6px;
}

#flight-log-title {
    font-size: 150%;
    text-align: center;
}

#page-breaker-line {
    height: 1px;
    background-color:#C4BABE;
}

#date-range-container {
    margin-top: 3%;
    text-align: center;
} 

#modal-content-id {
    background-color: #A3B86C;
    color: #373D3F;
}

#date-range-button {
    background-color: #494E6B;
    color: #C4BABE;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 6px;
    text-align: center;
}

#exampleModelLabel h5 {
    color: #373D3F;
}

.add-flight-list {
    text-align: center;
}

.hours-box {
    text-align: center;
}
.hours-box p {
    border: 2px solid #272D2D;
}

#filter-buttons {
    margin-top: 1%;
}

#filterButton, #reqdButton {
    background-color: #985E6D;
    color: #C4BABE;
    text-align: center;
    border-radius: 6px;
    margin-top: 5%;
}