/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import "../node_modules/typicons.font/src/font/typicons.css";


body {
    margin: 0px;
}

@font-face {
  font-family: 'typicons';
  src: url("typicons.eot");
  src: url("typicons.eot?#iefix") format('embedded-opentype');
  src: url("typicons.woff") format('woff');
  src: url("typicons.ttf") format('truetype');
  src: url("typicons.svg#typicons") format('svg');
  font-weight: normal;
  font-style: normal;
}